/********************************************************************/
/* global style
/********************************************************************/
body{
	color: #5f6368;
	font-family:sans-serif;
	font-size: 15px;
}

a {
	color: #5f6368;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}
strong{
	font-weight: bold;
}
.container{
	width: 95%;
	padding: 20px 30px 0 30px;
	display: flex;
	flex-direction: column;
}
/********************************************************************/
/* components style
/********************************************************************/
.google_logo{
	width: 93px;
	height: 32px;
	padding-right: 40px;
	padding-top: 10px;
}

.google_logo_bottom{
	width: 150px;
	height:55px;
	padding: 40px 0 10px 40px;
}
.voice_search{
	 width: 15px;
	 height: 20px;
	 position: relative;
	 right: 16%;
	 top:5px;
}

.fa-search_b{
	position: relative;
	right: 8%;
	color: #0f82f5;

}
.gb_6e{
	width: 7%;
	padding-bottom: 5px;
	margin-left: 50px;
}

.profile{
	width: 35px;
	height: 35px;
	border-radius: 100%;
	margin-left: 20px;
}

.active {
	border-bottom: 3px solid blue;
	color:blue;
}
.active a{
	color: blue;
}

.line{
	margin-top: 0;
	opacity: 0.2;
}

.box{
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  width: 75%;
  margin-bottom: 6%;
}

/********************************************************************/
/* header style
/********************************************************************/

.search_log{
	display: flex;
}

.search_box{
	width: 680px;
	height: 45px;
    border-radius: 30px;
    border: 1px solid gray;
    opacity: 0.5;
    outline: none;
    padding-left: 20px;
}

.s_right{
    display: flex;
	justify-content: flex-end;
}

.s_left{
	display: flex;
}

/* nav styles*/
.header_nav{
	display: flex;
	width: 62%;
	justify-content: center;
}

.left{
	display: flex;
	padding-left: 20%;
}

.right{
	display: flex;
	padding-left: 10%;
}

.nav_item{
	padding: 25px 12px 12px 10px;
	display: flex;
}

.nav_item a{
	padding-left: 5px;
}

/********************************************************************/
/* main style
/********************************************************************/
.search_quantity{
	margin: 1% 0 2% 0;

}

.main_container{
	width: 65%;
	padding-left: 12%;

}

.result_title a{
	font-size: 20px;
	color: #1a0dab;
	line-height: 2;
}

.result_body{
	padding-bottom: 4%;
	line-height: 1.5;
}

/* faq styles */

.faq_title {
	font-size: 20px;
	color: #202124;
}

.related_question{
	border-top: 1px solid #e5e5e5;
}

.related_question a{
   color: #202124;
   font-size: 16px;
}

.related_question a:hover{
	text-decoration: none;
}
.related_question .angle_icon {
	float:right;
	color:  #70757a;
}

.faq_title , .related_question {
     padding: 2% 5% 2% 2%;
}

.results_footnote{
	float: right;
	font-style: italic;
	font-size: 12px;
	padding: 5px 0 20px 0 ;
}

/* people also searc for style*/
.people_also_search{
	color: #202124;
}

.p_a_s_title{
	font-size: 20px;
	padding-bottom: 3%;
}

.p_a_s_box_title_icon{
	display: flex;
	padding: 2%;
	justify-content: space-between;
}

.p_a_s_box_title{
	font-size: 15px;
}

/* softwares styles */

.softwares{
	display: flex;
}

.software{
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  margin: 5px;
}

.software_title{
	padding: 8px;
}

/* seemore box*/
.see_more_container{
	padding: 10px;
}
.see_more{
	border: 1px solid #e5e5e5;
    border-radius: 50px;
    text-align: center;
    width: 45%;
    margin: 0 auto;
    padding: 10px;
    color: blue;
}

.see_more a{
	color: blue;
}
.fa-long-arrow-alt-right{
	float: left;
	margin-left: 10px;
	font-size: 20px;
}

/* related searches*/
.related_searches_title{
	font-size: 20px;
	padding-bottom: 25px;
}

.related_questions{
	display: flex;
	flex-direction: column;
	width: 62%;
	line-height: 1.5;
	color: blue;
}

.related_questions a {
	color: blue;
	font-weight: bold;
}

.related_question_left{
	align-self: flex-start;
}

.related_question_right{
	align-self: flex-end;
	margin-top: -88px;
}

/* pages */

.pages{
	display: flex;
	flex-direction: column;
	width: 50%;
	margin: 0 auto;
	padding-bottom: 30px;
}

.page_numbers a {
	margin-left: 10px;
	color: blue;
}

.next{
	padding-left: 40px;
}

/********************************************************************/
/* footer style
/********************************************************************/
footer{
	background-color: #f2f2f2;
}

.footer_container{	
	width: 62%;
	padding-left: 12%;

}

.user_location{
	margin: 0;
	color: rgba(0,0,0,.54);
	padding-top: 13px;
	height: 27px;
	border-top: 1px solid rgb(214 205 205 / 50%);
	border-bottom: 1px solid rgb(214 205 205 / 50%);
}

.footer_nav{
	 padding-top: 13px;
	 height: 27px;
}

.footer_nav a{
	padding: 0;
	padding-right: 10px;
	color: rgba(0,0,0,.54);
}
